
#reveal .header { background-color:#166e99; border:1px solid white; cursor:pointer; margin-bottom:5px; padding:3px 0;

	font-family: Arial, "Times New Roman", Times, serif;
	}

#reveal .header:hover  {  background-color:#166e99; display:block; }

#reveal .header a {  color:#ffffff; font-weight:normal; font-style:italic; font-size:12px; display:block; margin:3px 15px; }
#reveal .content { display:none; padding:20px; background-color:#ffffff}

#reveal .header.activeBtn { 
	background-color:#8bc533; 
}
#reveal .header.unactiveBtn { 
	background-color:#166e99; 
}


#reveal .header a.active { color:#ffffff; }
#reveal .header a.unactive { color:#ffffff; }


.overBtn {
	background-color: #000	;
	color:#FFF;
}